.menu {
  background-color: rgb(37, 37, 37);
  width: 500px;
  height: 95%;
  display: flex;
  flex-direction: column
}
.menu-content {
  height: 100%;
  width: 500px; 
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}


.menu__list-url {
  color: rgb(255, 255, 255);
  font-size: 70px;
  font-family: 'Hedvig', sans-serif;
  font-weight: 800;
  line-height: 1.1;
  transition: .3s;
  width: min-content;
  padding-bottom: ;
}

.menu__list-url:hover {
  color: #d87093;
}

.menu__urls {
  display: flex;
  gap: 3vw;
  align-items: flex-start;
}

.menu__urls-img {
  width: 40px;

}